<!DOCTYPE html>  <!-- Declaración del tipo de documento -->
<html lang="es">
    <head>
        <meta charset="UTF-8">  <!-- Codificación de caracteres -->
        <title>Página de Inicio</title>  <!-- Título de la página -->
    </head>
    <body>
        <h1>Bienvenido a Tienda Caninos</h1>  <!-- Encabezado principal -->
        <p>Explora nuestra variedad de productos para perritos.</p>  <!-- Párrafo de bienvenida -->
        <a href="{% url 'lista_productos' %}">Ver lista de productos</a>
    </body>
</html>
